Repository k8snetworkplumbingwg/kubemacpool, pull requests merged in 2020-04, with the labels that each got.

#111 Add Eventually to finalizers test
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/S

#112 Deploy kubemacpool-mac-controller-manager with StatefulSet
  config/default/manager/manager.yaml
  config/default/rbac/rbac_role.yaml
  config/release/kubemacpool.yaml
  config/release/manager_image_patch.yaml
  config/test/kubemacpool.yaml
  config/test/manager_image_patch.yaml
  pkg/names/names.go
  pkg/webhook/webhook.go
  tests/tests.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/M

#114 Ensure there are no VM's before test suite and each test
  pkg/names/names.go
  pkg/pool-manager/pool.go
  pkg/pool-manager/pool_test.go
  pkg/pool-manager/virtualmachine_pool.go
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/M

#121 Add Or Mergi as reviewer
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, needs-ok-to-test, release-note-none, size/XS

#118 Ensure there are no VM's before test suite and each test (#114)
  pkg/names/names.go
  pkg/pool-manager/pool.go
  pkg/pool-manager/pool_test.go
  pkg/pool-manager/virtualmachine_pool.go
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#125 Revert "Deploy kubemacpool-mac-controller-manager with StatefulSet (#…
  config/default/manager/manager.yaml
  config/default/rbac/rbac_role.yaml
  config/release/kubemacpool.yaml
  config/release/manager_image_patch.yaml
  config/test/kubemacpool.yaml
  config/test/manager_image_patch.yaml
  pkg/names/names.go
  pkg/webhook/webhook.go
  tests/tests.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M
