Repository k8snetworkplumbingwg/kubemacpool, pull requests merged in 2020-08, with the labels that each got.

#235 Expose kube-admission-webhook cert manager knobs as env vars
  README.md
  cmd/manager/main.go
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
  pkg/manager/manager.go
  pkg/webhook/webhook.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#237 fix code format issues
  pkg/utils/utils_suite_test.go
  pkg/utils/utils_test.go
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#238 Set number of replicas to 1 and drop leader election
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
  pkg/manager/leaderelection.go
  pkg/manager/manager.go
  pkg/manager/manager_suite_test.go
  pkg/manager/manager_test.go
  pkg/names/names.go
  pkg/pool-manager/pool.go
  pkg/pool-manager/virtualmachine_pool.go
  tests/pods_test.go
  tests/tests.go
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#239 [release-0.14] Set number of replicas to 1 and drop leader election
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
  pkg/manager/leaderelection.go
  pkg/manager/manager.go
  pkg/manager/manager_suite_test.go
  pkg/manager/manager_test.go
  pkg/names/names.go
  pkg/pool-manager/pool.go
  pkg/pool-manager/virtualmachine_pool.go
  tests/pods_test.go
  tests/tests.go
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#236 change kmp operation to opt-out
  README.md
  config/default/manager/manager.yaml
  config/default/mutatepods_opt_in_patch.yaml
  config/default/mutatepods_opt_out_patch.yaml
  config/default/mutatevirtualmachines_opt_in_patch.yaml
  config/default/mutatevirtualmachines_opt_out_patch.yaml
  config/release/kubemacpool.yaml
  config/release/kustomization.yaml
  config/release/mutatepods_opt_mode_patch.yaml
  config/release/mutatevirtualmachines_opt_mode_patch.yaml
  config/test/kubemacpool.yaml
  config/test/kustomization.yaml
  config/test/mutatepods_opt_mode_patch.yaml
  config/test/mutatevirtualmachines_opt_mode_patch.yaml
  tests/tests.go
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XXL

#240 fix cert test to use manager namespace
  pkg/names/names.go
  pkg/pool-manager/pool_test.go
  tests/certificates_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#241 Add container push tag with `git describe --tags` output
  Makefile
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#242 Ensure that the IMAGE_GIT_TAG has 8 chars at commit id
  Makefile
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS
