Repository k8snetworkplumbingwg/kubemacpool, pull requests merged in 2021-06, with the labels that each got.

#310 logs, Refactor logs to remove macPoolMap on non-debug logs
  pkg/pool-manager/macpoolmap.go
  pkg/pool-manager/virtualmachine_pool.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#314 Relationship labels, Adapt to new kaw for secrets labeling
  cmd/manager/main.go
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
  go.mod
  go.sum
  pkg/names/names.go
  pkg/names/names_suite_test.go
  pkg/names/names_test.go
  vendor/github.com/qinqon/kube-admission-webhook/pkg/certificate/manager.go
  vendor/github.com/qinqon/kube-admission-webhook/pkg/certificate/options.go
  vendor/github.com/qinqon/kube-admission-webhook/pkg/certificate/secret.go
  vendor/modules.txt
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#312 finalizer, remove kubemacpool finalizer
  pkg/controller/virtualmachine/virtualmachine_controller.go
  pkg/pool-manager/pool_test.go
  pkg/pool-manager/virtualmachine_pool.go
  pkg/webhook/virtualmachine/virtualmachine.go
  tests/tests.go
  tests/virtual_machines_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#315 control-plane, Add Priority class
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#316 travis, remove travis script
  .travis.yml
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#317 [release-v0.26] control-plane, Add Priority class
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
Labels: approved, dco-signoff: yes, lgtm, needs-ok-to-test, release-note-none, size/XS
