Repository k8snetworkplumbingwg/kubemacpool, pull requests merged in 2022-11, with the labels that each got.

#374 manager, Reduce toleration in case of node reboot
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
Labels: dco-signoff: yes, lgtm, approved, size/S, release-note

#376 psa: Adapt manifest to comply with "restricted"
  automation/check-patch.e2e-k8s.sh
  cluster/cluster.sh
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
Labels: dco-signoff: yes, lgtm, approved, size/M, release-note

#377 Bump kubevirtci
  cluster/cluster.sh
Labels: dco-signoff: yes, size/XS, lgtm, approved, release-note-none
