Repository k8snetworkplumbingwg/kubemacpool, pull requests merged in 2025-05, with the labels that each got.

#535 tests, e2e: Log failed test.
  automation/check-patch.e2e-k8s.sh
  automation/check-patch.setup.sh
  tests/reporter/writers.go
  tests/tests_suite_test.go
Labels: dco-signoff: yes, lgtm, approved, size/L, release-note-none

#539 [release-0.47] go.mod: Set allowed go version on stable branch
  go.mod
Labels: dco-signoff: yes, size/XS, lgtm, approved, release-note-none

#540 manifests: Add readyness and liveness probes
  config/default/kustomization.yaml
  config/default/manager/manager.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
  pkg/webhook/webhook.go
Labels: dco-signoff: yes, lgtm, approved, size/M, release-note

#541 Add NetworkPolicies
  cluster/sync.sh
  config/default/kustomization.yaml
  config/default/network-policy/allow-egress-dns.yaml
  config/default/network-policy/allow-egress-kube-apiserver.yaml
  config/default/network-policy/allow-ingress-to-kmp-service.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
  hack/install-deny-all-net-pol.sh
  tests/tests_suite_test.go
Labels: dco-signoff: yes, lgtm, approved, size/L, release-note

#542 Network policies: Allow ingress to metrics endpoint
  config/default/kustomization.yaml
  config/default/network-policy/allow-ingress-to-metrics-endpoint.yaml
  config/default/network-policy/allow-ingress-to-webhook.yaml
  config/release/kubemacpool.yaml
  config/test/kubemacpool.yaml
Labels: dco-signoff: yes, lgtm, approved, release-note-none, size/M
